process {
    executor = 'slurm'
    queue    = 'icelake'
    clusterOptions = '--account=avsci'

    // --- Global Defaults ---
    // These apply to any process NOT specifically named below 
    // (e.g., SEQKIT_STATS, MARK_DUPLICATES, HAPLOTYPE_CALLER)
    cpus   = 4
    memory = '16 GB'
    time   = '72h' 

    // --- Specific Overrides ---
    withName: BWA_MEM {
        cpus   = 8
        memory = '64 GB'
        time   = '72h'
    }

    withName: GENOTYPE_GVCFS {
        cpus   = 8
        memory = '64 GB'
        time   = '72h'
    }
}
